/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root { /*html selector with higher specificity */
  --color-win: #78CF82;
  --color-lose: #D94545;
  --color-start: #5b85b7;
  --color-neutral: #445069;
  --color-neutral-light: #D2D2D2;
  --color-keys: #37474F;
  --color-keys-light: #E5E5E5;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --font-size-small: 15px;
  --transition: all .2s ease-in-out;
}

/***** Header *****/

header {
  text-align: center;
  padding-top: 5px;
  display: none;        /* remove for mobile view */
}

.logo img {
  width: 50px;
  height: 50px;
}

/***** Nav Bar *****/

.navbar {
  background-color: var(--color-neutral);
  color: var(--color-neutral-light);
  padding-right: 5px;
  text-align: right;
  position: fixed;
  top: 5px;
  width: 95%;
  border-radius: 5px;
}

#hamburger-menu {
  display: none;
  text-align: center;
  margin: 0 auto;
}

#hamburger-menu li {
  margin-left: 5px;
  margin-right: 5px;
}

#hamburger-menu a {
  text-decoration: none;
  color: var(--color-neutral-light);
}

/* main */

* {
  box-sizing: border-box;   /* include border and padding in element height and width */
  font-family: 'Montserrat', sans-serif;
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
}

main {
  text-align: center;
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: var(--font-size-large);
  margin: 0;
}

h1 {
  font-size: 30px;
}

button, input[type=submit] {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}
input[type=submit].incorrect {
  background-color: var(--color-lose);
}
input[type=submit].correct {
  background-color: var(--color-win);
}

.form-buttons {
	width: 150px;
	margin: 5px auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-height: 900px;
  text-align: center;
}

.main-container h2,
.main-container form {
  margin-bottom: 20px;
}

.main-button-wrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.section {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
}

#phrase ul li{
  margin-top: 15px;
}

/* Title */

.header {
  color: #3a3f58;
}


/* Modals */

.modal-container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* The below colors give a cascading shadow effect over the entire page
    to bring the focus to the modal */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: var(--color-neutral-light);
  margin: 15% auto; /* 25% from the top and centered */
  padding: 20px;
  border: 1px solid var(--color-neutral-light);
  width: 82%; 
  border-radius: 5px; /* add slight curvature to modal corners */
}

.modal-content form {
  text-align: center;
}

.close {
  color: var(--color-neutral);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

#rules-modal,
#hint-modal {
  text-align: center;
}

#rules-modal p {
  margin: 5px auto;
  font-size: .90em;
}

/* Phrase */

.letter {
  font-size: var(--font-size-small);
  height: 25px;
  width: 25px;
  /* padding: 5px 1px 0 1px; */
  margin-right: 1px;
  color: var(--color-neutral);
  background: var(--color-neutral-light);
  border-radius: 5px;
  text-align: center;
}

.space {
  width: 10px;
}

.hide {
  color: transparent;
}

.show {
  color: #fff;
  background-color: #4ac0d5;
  font-size: 20px;
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  border-radius: 5px;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}


/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

.chosen {
  background: #3a3f58;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
}

.wrong {
  background: #f7a964;
  color: #FFFFFF;
}

.btn__reset {
  padding: 16px;
  margin: 50px auto;
  background: #f7a964;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  border-bottom: solid 4px rgba(0, 0, 0, .3);
  border-right: solid 3px rgba(0, 0, 0, .3)
}

.btn__reset:active {
  padding: 14px 16px 16px 14px;
  border-bottom: solid 4px rgba(0, 0, 0, 0);
  border-right: solid 3px rgba(0, 0, 0, 0);
}


/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.title {
  color: #FFF;
}

.start {
  background-color: #3a3f58;
}

.start a {
  color: #fff;
}

.win {
  background-color: var(--color-win);
}

.win a {
  color: var(--color-win);
}

.lose {
  background-color: #f5785f;
}

.lose a {
  color: var(--color-lose);
}

/***** Media Queries *****/

/***** Tablets *****/

@media screen and (min-width: 768px) {

/* Modals */
.modal-content {
  width: 70%;
}  

}

/***** Full Screen *****/

@media screen and (min-width: 960px) {

/* Modals */
.modal-content {
  margin: 10% auto; /* 25% from the top and centered */
  width: 60%;
}

}